.form-group{
  padding: 5px;
}
.form-group label {
  display: flex;
  margin: 5px;
}
.form-group input {
  padding: 5px;
}
.head{
  color: brown;
}
.data{
  color: blueviolet;
}

input[type=text], input[type=password],select{
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, input[type=password]:focus, select:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.btn{
  border: 1px solid #DDDDDD ;
  outline: none !important;
  color:white;
  background-color: blue;
  width: 100px;
  height: 30px;
}

.btn:hover{
  background-color: blueviolet;
}
